<h1>Join us</h1>

<p>
  Enter your email to join <strong><%=data%></strong> others on our waitlist.
</p>

<form method="post" action="/register">
  <input type="email" class="form" placeholder="Enter Your Email" />
  <button>Join Now</button>
</form>
